<!-- xmlns:th= http://www.thymeleaf.org configura o thymeleaf
	 xmlns:layout= http://www.ultraq.net.nz/thymeleaf/layout  configura o layout-->

<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Spring-Boot Básico</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<link rel="icon" href="/image/favicon.png" />
	
		<!-- Bootstrap core CSS -->
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
		
		<!-- Custom styles for this template -->
		<link href="/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<header th:replace="fragments/header :: cabecalho"><!-- Cabecalho o th:replace faz a chamada onde o fragment esta -->
			<div>Header</div>
		</header>
		
		<div class="layout-main">
			<aside><!-- Menu -->
				<nav th:replace="fragments/sidebar :: menu">
					<span>menu</span>
				</nav>
			</aside>
			
			<section layout:fragment="corpo"><!-- Conteudo da pagina -->
				<div>conteudo das paginas</div>
			</section>
		</div>
		
		<footer th:replace="fragments/footer :: rodape"><!-- rodapé o th:replace faz a chamada onde o fragment esta -->
			<div>Footer</div>
		</footer>
		
		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		    
			/*
			 * aqui estou recebendo o valor do id com JQuery
			 * a primeira parte ele quer dizer que execute esta funcao quando o button tiver
			 * a id= "btn_" a function que criamos para ser executada no evento click
			 * ele declara o valor a variavel url que this utiliza o metodo attr que recebe por parametro
			 * o id utilizando o metodo split para dividir a string em duas partes uma antes do _ que seria
			 * btn e outra depois que seria o endereco que quero
			 */
			
			var url = '';
			$('button[id*="btn_"]').click(function(){
				url="http://localhost:8080/" + $(this).attr("id").split('_')[1];
			});
//-------------------------------------------------------------------------------------------------\\			
			
			/*
			 * nesta function declaro que a url sera o valor do href do botao confirma
			 * 
			 */
			 
			$('#ok_confirm').click(function(){
				document.location.href = url;
			})			

//-------------------------------------------------------------------------------------------------\\			
			$(function() {
				$('[data-toggle="popover"]').popover();
			});
			
			$(document).ready(function(){
			    $(".navbar-toggle").click(function(){
			        $(".sidebar").toggleClass("sidebar-open");
			    })
			});
	
		</script>
	</body>
</html>